<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
</head>

<body>
    <section>
        <div class="form">
            <form method="POST" action="{% url 'register' %}">
                {% csrf_token %}
                <h1>Inscription</h1>
                {{ form.as_p }}
                <button type="submit">Souscrire</button>
            </form>
        </div>
    </section>
</body>

</html>